<a href="https://colab.research.google.com/github/AmelxJamal/DataChallenge/blob/master/DataChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Kaggle and Download data

In [1]:
!kaggle competitions download -c kernel-methods-ammi-2022

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 166, in authenticate
    self.config_file, self.config_dir))
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [2]:
!pip install kaggle
!pip install --upgrade --force-reinstall --no-deps kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.6.15)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 5.0 MB/s
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73051 sha256=7733a3fbdeff9bb4fc7623e76649d9c5157aba8befa27625b4f5a36443c26d67
  Stored in directory: /root/.cache/pip/wheels/62/d6/58/5853130f941e75b2177d281eb7e44b4a98ed46dd155f556dc5
Successfully built kaggle
Installing collected packages: kaggle
  Attempting uninstall: kaggle
    Found existing installation: kaggle 1.5.12
    Uninstalling kaggle-1.5.12:
      Successfully uninstalled kaggle-1.5.12
Successfully installed kaggle-1.5.12

In [21]:
!cp /content/kaggle.json /root/.kaggle

In [22]:
!chmod 600 /root/.kaggle/kaggle.json

In [23]:
import os
os.environ["KAGGLE_CONFIG_"] =' /content/kaggle.json'

In [24]:
!kaggle competitions download -c kernel-methods-ammi-2022

Downloading kernel-methods-ammi-2022.zip to /content
  0% 0.00/464k [00:00<?, ?B/s]
100% 464k/464k [00:00<00:00, 84.0MB/s]

In [25]:
!unzip /content/kernel-methods-ammi-2022.zip

Archive:  /content/kernel-methods-ammi-2022.zip
  inflating: Xte.csv
  inflating: Xte_vectors.csv
  inflating: Xtr.csv
  inflating: Xtr_vectors.csv
  inflating: Ytr.csv

# Utilities

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import itertools
from collections import defaultdict
np.random.seed(20)

In [27]:
train_data = pd.read_csv('/content/Xtr.csv')
train_data.head(10)

   Id                                           Sequence
0   1  TCTTCCATCGTTGATAGTGTTACATTGAAGAATGCGACGATCCATC...
1   2  CTTCTTCAGTAATTACCTCAAGAGACGTTTAGTCTCTAATGGTGTT...
2   3  GTCTATGGTGCTGCTGTTGTTTACCGGGGTACAACAACTTACAAAT...
3   4  ATTCGCCATGAGTAAATTTCCCCTTAAATTAGGGGGTTCAGCTGTT...
4   5  CAGACAAAACATTTGTGTCTGGTAACTGTGATGTTGTAATAGGAAT...
5   6  GAACGCTTTTCCACCGAACAGAAGCAAAACATCAACCGCATAATCT...
6   7  TCGCACTTTTGCCTTTGGAGGGTTTGTGTTCTCATATGTTGGTTGC...
7   8  CCGTTGCGCGTGTAGAGGGCGATGGCTGCATACTGATGGATGCCGG...
8   9  AGCAAATTCGGACATCGATTGAACACCCACACGATATTGCTGGATA...
9  10  TCTACAAGACAAGTTGTTAATGTTGTAACGACAAAGATAGCACTTA...

In [28]:
tester = train_data.Sequence[0]

def compute_kmers(seq, k=3):
  kmers = []
  seq = seq.strip()
  for i in range(len(seq)):
    if(len(seq[i:i+k])==k):
      kmers.append(seq[i:i+k])
  return kmers

base_indices = {'A':0, 'C':1, 'T':2, 'G':3}

def compute_perms(chars, k):
  from itertools import product
  perms = [''.join(comb) for comb in product(chars, repeat=k)]
  return perms

def compute_val(kmer, base_indices):
  val = 0
  base = len(base_indices)
  for idx,elem in enumerate(kmer):
    # print(f' index {base_indices[elem]}, base 4 {base**idx}')
    val+=base_indices[elem]*(base**idx)
  return val

def compute_kmer_count(seq,perms,k):
  counts = defaultdict(lambda : 0)
  kmers = compute_kmers(seq, k)
  for kmer in kmers:
    counts[kmer] +=1
  # for perm in perms:
  #   if perm not in kmers:
  #     counts[perm] +=0
  return counts

kmers = compute_kmers(tester)
print(compute_kmers(tester)[295:])
print(kmers[0],compute_val(kmers[0], base_indices))
print(len(compute_perms('ACTG',3)))
# print(compute_perms('ACTG',3))
print(len(compute_kmer_count(tester, compute_perms('ACTG',3), 3)))

['TTG', 'TGC', 'GCA', 'CAG']
TCT 38
64
62

In [29]:
print(compute_perms('ACTG',3))
compute_kmer_count(tester, compute_perms('ACTG',3), 3)

['AAA', 'AAC', 'AAT', 'AAG', 'ACA', 'ACC', 'ACT', 'ACG', 'ATA', 'ATC', 'ATT', 'ATG', 'AGA', 'AGC', 'AGT', 'AGG', 'CAA', 'CAC', 'CAT', 'CAG', 'CCA', 'CCC', 'CCT', 'CCG', 'CTA', 'CTC', 'CTT', 'CTG', 'CGA', 'CGC', 'CGT', 'CGG', 'TAA', 'TAC', 'TAT', 'TAG', 'TCA', 'TCC', 'TCT', 'TCG', 'TTA', 'TTC', 'TTT', 'TTG', 'TGA', 'TGC', 'TGT', 'TGG', 'GAA', 'GAC', 'GAT', 'GAG', 'GCA', 'GCC', 'GCT', 'GCG', 'GTA', 'GTC', 'GTT', 'GTG', 'GGA', 'GGC', 'GGT', 'GGG']

defaultdict(<function __main__.compute_kmer_count.<locals>.<lambda>>,
            {'AAA': 9,
             'AAC': 5,
             'AAG': 5,
             'AAT': 6,
             'ACA': 4,
             'ACC': 3,
             'ACG': 2,
             'ACT': 6,
             'AGA': 4,
             'AGC': 6,
             'AGG': 2,
             'AGT': 5,
             'ATA': 7,
             'ATC': 8,
             'ATG': 5,
             'ATT': 5,
             'CAA': 4,
             'CAC': 1,
             'CAG': 4,
             'CAT': 8,
             'CCA': 2,
             'CCT': 5,
             'CGA': 2,
             'CGC': 1,
             'CGG': 1,
             'CGT': 2,
             'CTA': 8,
             'CTC': 6,
             'CTG': 5,
             'CTT': 7,
             'GAA': 5,
             'GAC': 4,
             'GAG': 1,
             'GAT': 7,
             'GCA': 2,
             'GCC': 2,
             'GCG': 3,
             'GCT': 4,
             'GGA': 2,
             'GGC': 1,
             'GGG': 1,
             'GGT': 4,
             'GTA': 1,
             'GTC': 4,
             'GTG': 8,
             'GTT': 9,
             'TAA': 7,
             'TAC': 5,
             'TAG': 8,
             'TAT': 4,
             'TCA': 9,
             'TCC': 2,
             'TCG': 1,
             'TCT': 11,
             'TGA': 9,
             'TGC': 3,
             'TGG': 4,
             'TGT': 11,
             'TTA': 8,
             'TTC': 4,
             'TTG': 9,
             'TTT': 8})

In [30]:
def jaccard_similarity(a, b):
    a = set(a)
    b = set(b)

    intersection = len(a.intersection(b))
    union = len(a.union(b))

    return intersection / union

def jaccard_containment(a, b):
    a = set(a)
    b = set(b)

    intersection = len(a.intersection(b))

    return intersection / len(a)

In [31]:
def compress_kmers(dict_count,k):
  compressed_dict = defaultdict(lambda : 0)
  least_occuring = []
  most_occuring = []
  # Compute highest occuring kmers
  for key in dict_count.keys():
    if dict_count[key] < k and dict_count[key]!=0:
      least_occuring.append(key)
    elif dict_count[key]!=0:
      most_occuring.append(key)
  
  #Compute Jaccard_similarity between least and most occuring
  for key in least_occuring:
    similarities = []
    for sec_key in most_occuring:
      similarities.append((sec_key, jaccard_similarity(key,sec_key)))
    # print(most_occuring)
    most_similar = sorted(similarities, key = lambda x: x[1], reverse=True)[0][0]
    compressed_dict[most_similar] += dict_count[key]
    # print(f' element {key} , \n sorted {sorted(similarities, key = lambda x: x[1], reverse=True)}, \n most_similar {most_similar}')
    # break
  for key in most_occuring:
    compressed_dict[key] += dict_count[key]
  
  return compressed_dict


dict_count = compute_kmer_count(tester, compute_perms('ACTG',6), 6)
dict_count2 = compute_kmer_count(train_data.Sequence[1], compute_perms('ACTG',5), 5)
len(compress_kmers(dict_count, 3)), len(dict_count), compress_kmers(dict_count,2), compress_kmers(dict_count2, 2)

(1,
 275,
 defaultdict(<function __main__.compress_kmers.<locals>.<lambda>>,
             {'AAATCA': 2,
              'ATAGTG': 2,
              'CAAAAT': 2,
              'CAACCT': 2,
              'CATCTT': 2,
              'CTAAAG': 2,
              'CTCTCT': 2,
              'CTGTTA': 2,
              'CTTTGA': 2,
              'GATAGT': 2,
              'TAGCCT': 2,
              'TAGTGT': 2,
              'TCAAAA': 2,
              'TCCATC': 63,
              'TCTCTC': 7,
              'TGATAG': 2,
              'TGTTAC': 132,
              'TGTTGA': 2,
              'TTGATA': 62,
              'TTTGAT': 2}),
 defaultdict(<function __main__.compress_kmers.<locals>.<lambda>>,
             {'AAATA': 17,
              'AAGAA': 2,
              'AAGCT': 2,
              'AATGG': 2,
              'ACAAA': 10,
              'ACCAC': 2,
              'ACCTC': 2,
              'ACTAC': 2,
              'AGAAG': 2,
              'AGAGA': 11,
              'AGCTG': 2,
              'AGTAA': 46,
              'ATACT': 2,
              'ATTAC': 2,
              'CAATG': 2,
              'CAGTA': 2,
              'CCTCA': 2,
              'CCTTT': 2,
              'CTCAA': 2,
              'CTTCA': 30,
              'CTTTA': 2,
              'GAAGC': 19,
              'GATAC': 2,
              'GATGT': 2,
              'GCAAT': 2,
              'GCTCT': 2,
              'GCTGC': 27,
              'GTGTT': 11,
              'GTTCT': 2,
              'TAAAG': 2,
              'TACAA': 2,
              'TACCT': 2,
              'TACTA': 2,
              'TACTT': 2,
              'TATTA': 2,
              'TCAGT': 2,
              'TCTAA': 2,
              'TCTTT': 2,
              'TGCGT': 2,
              'TGTGC': 2,
              'TTACC': 2,
              'TTAGT': 2,
              'TTCAG': 44,
              'TTCTT': 12,
              'TTTAG': 2}))

In [32]:
tester = train_data.Sequence[0]
dummy_df = train_data.copy()
def seq_compress(row):
    # print(row.Sequence)
    perms = compute_perms('ACTG',3)
    dict_count = compute_kmer_count(row, perms, 3)
    compressed = compress_kmers(dict_count, 3)
    compressed_list = []
    for key in perms:
      if key in compressed.keys():
        compressed_list.append(compressed[key])
      else:
        compressed_list.append(0)
    # print(len(compressed_list))
    return compressed_list


dummy_df = dummy_df.Sequence.apply(seq_compress)#, axis='columns')
dummy_df.head()

0    [9, 5, 6, 5, 7, 3, 6, 0, 7, 8, 5, 5, 4, 6, 5, ...
1    [8, 0, 8, 13, 4, 7, 6, 3, 8, 0, 4, 6, 9, 5, 7,...
2    [9, 6, 7, 12, 9, 5, 7, 0, 4, 3, 10, 8, 0, 5, 6...
3    [9, 9, 6, 4, 8, 3, 7, 3, 4, 3, 7, 7, 6, 0, 7, ...
4    [14, 7, 12, 8, 11, 0, 3, 0, 4, 8, 11, 7, 9, 0,...
Name: Sequence, dtype: object

In [33]:
new_df = pd.DataFrame(dummy_df.to_list(), columns=range(64))
norm_df = new_df.copy()
def normalize(row):
  row = (row - df_min) / (df_max - df_min)
  return row
df_max = norm_df.max()
df_min = norm_df.min()

norm_df = norm_df.apply(normalize, axis='columns')

In [34]:
norm_df

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.243243,0.277778,0.260870,0.263158,0.318182,0.157895,0.3750,0.000000,0.291667,0.421053,...,0.20,0.363636,0.000000,0.190476,0.6250,0.5000,0.000000,0.000000,0.2500,0.000000
1,0.216216,0.000000,0.347826,0.684211,0.181818,0.368421,0.3750,0.157895,0.333333,0.000000,...,0.25,0.000000,0.428571,0.000000,0.6250,0.3750,0.000000,0.000000,0.0000,0.000000
2,0.243243,0.333333,0.304348,0.631579,0.409091,0.263158,0.4375,0.000000,0.166667,0.157895,...,0.45,0.000000,0.428571,0.000000,0.3125,0.2500,0.000000,0.000000,0.2500,0.263158
3,0.243243,0.500000,0.260870,0.210526,0.363636,0.157895,0.4375,0.157895,0.166667,0.157895,...,0.00,0.000000,0.357143,0.285714,0.5625,0.3125,0.000000,0.000000,0.1875,0.157895
4,0.378378,0.388889,0.521739,0.421053,0.500000,0.000000,0.1875,0.000000,0.166667,0.421053,...,0.00,0.000000,0.642857,0.000000,0.2500,0.1875,0.176471,0.000000,0.0000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.108108,0.277778,0.260870,0.421053,0.136364,0.210526,0.1875,0.368421,0.208333,0.473684,...,0.35,0.318182,0.214286,0.000000,0.0000,0.3125,0.352941,0.208333,0.4375,0.263158
1996,0.216216,0.333333,0.478261,0.263158,0.272727,0.157895,0.5625,0.263158,0.208333,0.210526,...,0.25,0.000000,0.214286,0.190476,0.6250,0.0000,0.235294,0.000000,0.0000,0.000000
1997,0.108108,0.444444,0.304348,0.157895,0.136364,0.000000,0.5000,0.000000,0.250000,0.000000,...,0.35,0.000000,0.642857,0.000000,0.6250,0.2500,0.411765,0.541667,0.5625,0.000000
1998,0.432432,0.500000,0.260870,0.263158,0.181818,0.210526,0.3750,0.526316,0.416667,0.000000,...,0.15,0.545455,0.642857,0.142857,0.4375,0.2500,0.235294,0.000000,0.2500,0.000000
1999,0.000000,0.166667,0.173913,0.631579,0.409091,0.210526,0.4375,0.157895,0.375000,0.000000,...,0.35,0.136364,0.285714,0.238095,0.1875,0.5000,0.000000,0.000000,0.5625,0.000000

In [35]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,9,5,6,5,7,3,6,0,7,8,...,4,8,0,4,10,8,0,0,4,0
1,8,0,8,13,4,7,6,3,8,0,...,5,0,6,0,10,6,0,0,0,0
2,9,6,7,12,9,5,7,0,4,3,...,9,0,6,0,5,4,0,0,4,5
3,9,9,6,4,8,3,7,3,4,3,...,0,0,5,6,9,5,0,0,3,3
4,14,7,12,8,11,0,3,0,4,8,...,0,0,9,0,4,3,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,4,5,6,8,3,4,3,7,5,9,...,7,7,3,0,0,5,6,5,7,5
1996,8,6,11,5,6,3,9,5,5,4,...,5,0,3,4,10,0,4,0,0,0
1997,4,8,7,3,3,0,8,0,6,0,...,7,0,9,0,10,4,7,13,9,0
1998,16,9,6,5,4,4,6,10,10,0,...,3,12,9,3,7,4,4,0,4,0
1999,0,3,4,12,9,4,7,3,9,0,...,7,3,4,5,3,8,0,0,9,0

In [36]:
count_df = train_data.copy()
def seq_transform(row):
    perms = compute_perms('ACTG',3)
    dict_count = compute_kmer_count(row.Sequence, perms, 3)
    new_list = []
    for key in perms:
      if key in dict_count.keys():
        new_list.append(dict_count[key])
      else:
        new_list.append(0)
    return new_list

count_df = count_df.apply(seq_transform, axis='columns')
count_df = pd.DataFrame(count_df.to_list(), columns=range(64))

In [37]:
count_df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,9,5,6,5,4,3,6,2,7,8,...,4,3,1,4,9,8,2,1,4,1
1,8,2,8,9,4,5,6,3,8,2,...,5,2,6,2,8,6,2,1,2,0
2,9,6,7,4,9,5,7,2,4,3,...,9,0,6,2,5,4,2,2,4,5
3,9,9,6,4,8,3,7,3,4,3,...,2,1,5,6,9,5,0,0,3,3
4,14,7,12,8,8,2,3,1,4,8,...,2,0,7,2,4,3,3,2,2,0

In [38]:
train_vectors = pd.read_csv('/content/Xtr_vectors.csv')
train_vectors.head(10)

,Id,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,1,0.1406,0.0625,0.0781,0.1094,0.0625,0.0312,0.0312,0.1406,0.0781,...,0.0625,0.1719,0.0781,0.0312,0.0625,0.1719,0.0781,0.1094,0.1406,0.1250
1,2,0.1250,0.1250,0.0781,0.0938,0.0625,0.0469,0.0625,0.1094,0.1406,...,0.0781,0.1406,0.1094,0.0625,0.0312,0.1406,0.0625,0.1406,0.1250,0.1406
2,3,0.1406,0.1719,0.0156,0.0781,0.1406,0.1094,0.0938,0.0469,0.0312,...,0.1406,0.0938,0.0938,0.0156,0.0625,0.0781,0.1562,0.0469,0.0781,0.1094
3,4,0.1406,0.0938,0.0781,0.1250,0.1250,0.0469,0.0312,0.0781,0.0938,...,0.0312,0.2031,0.1094,0.0469,0.0469,0.1875,0.1094,0.1562,0.1406,0.1875
4,5,0.2188,0.1094,0.1094,0.2031,0.1250,0.0625,0.0156,0.1094,0.1406,...,0.0312,0.0938,0.0781,0.0156,0.0312,0.1250,0.1719,0.0781,0.0625,0.1719
5,6,0.1406,0.0625,0.0781,0.0781,0.0781,0.0781,0.0938,0.1094,0.0312,...,0.0781,0.0625,0.0312,0.0781,0.1094,0.0781,0.0469,0.0469,0.0625,0.0469
6,7,0.1094,0.0938,0.0938,0.0781,0.0938,0.0938,0.0625,0.0781,0.0781,...,0.0469,0.1094,0.0469,0.0000,0.1406,0.1250,0.0781,0.1719,0.1406,0.2344
7,8,0.0156,0.0625,0.0156,0.0312,0.0156,0.1094,0.1250,0.0312,0.0625,...,0.1406,0.0938,0.0156,0.0625,0.1250,0.0312,0.0000,0.0625,0.0781,0.0469
8,9,0.2031,0.1094,0.1094,0.1094,0.1562,0.0312,0.0938,0.0938,0.0469,...,0.0469,0.0312,0.0469,0.0469,0.0312,0.0781,0.1719,0.0469,0.0938,0.1406
9,10,0.1250,0.0938,0.0312,0.2344,0.1875,0.0312,0.0469,0.0938,0.0938,...,0.0781,0.0781,0.1094,0.0469,0.1250,0.1562,0.0625,0.0781,0.1719,0.1250

In [39]:
train_vectors.describe()

,Id,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,0.119515,0.088961,0.079477,0.088803,0.089882,0.070451,0.075208,0.082049,0.075195,...,0.082018,0.073139,0.066367,0.050131,0.072039,0.092185,0.097124,0.089907,0.089204,0.123997
std,577.494589,0.084337,0.044590,0.041111,0.054201,0.051151,0.040540,0.040896,0.038320,0.040508,...,0.040792,0.039112,0.034777,0.034963,0.035903,0.052865,0.055079,0.047345,0.042415,0.084406
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,500.750000,0.062500,0.062500,0.046900,0.046900,0.046900,0.046900,0.046900,0.062500,0.046900,...,0.046900,0.046900,0.046900,0.031200,0.046900,0.046900,0.046900,0.062500,0.062500,0.062500
50%,1000.500000,0.109400,0.078100,0.078100,0.093800,0.078100,0.062500,0.078100,0.078100,0.078100,...,0.078100,0.062500,0.062500,0.046900,0.062500,0.093800,0.093800,0.093800,0.093800,0.109400
75%,1500.250000,0.171900,0.109400,0.109400,0.125000,0.125000,0.093800,0.093800,0.109400,0.093800,...,0.109400,0.093800,0.093800,0.062500,0.093800,0.125000,0.140600,0.125000,0.109400,0.171900
max,2000.000000,0.578100,0.265600,0.250000,0.312500,0.281200,0.281200,0.265600,0.234400,0.281200,...,0.296900,0.234400,0.187500,0.218800,0.250000,0.312500,0.312500,0.296900,0.250000,0.562500

In [40]:
len(train_data.Sequence.iloc[0])

302

In [41]:
train_labels = pd.read_csv('/content/Ytr.csv')
train_labels.head(10)

   Id  Covid
0   1      1
1   2      1
2   3      1
3   4      1
4   5      1
5   6      0
6   7      1
7   8      0
8   9      0
9  10      1

In [42]:
def split_data(X,y, p=0.8):
  # first we will shuffle the data
  indices = np.arange(len(X))
  np.random.shuffle(indices)
  X = X.iloc[indices]
  y = y.iloc[indices]

  #Next create a splitter to slice the data
  split = int(len(X)*p)
  x_train = X.iloc[0:split]
  x_test = X.iloc[split:]
  y_train = y.iloc[0:split]
  y_test = y.iloc[split:]
  return x_train, x_test, y_train, y_test

In [43]:
x_train, x_test, y_train, y_test = split_data(train_vectors, train_labels, p=0.5)
x_train.drop('Id', inplace=True, axis=1)
x_test.drop('Id', inplace=True, axis=1)

In [44]:
y_train['Covid'] = 2*y_train['Covid'] - 1 # transform from {0, 1} to {-1, 1}
y_test['Covid'] = 2*y_test['Covid'] - 1
y_train.head(5)

        Id  Covid
1556  1557      1
1560  1561      1
1559  1560     -1
1594  1595      1
906    907     -1

In [45]:
# Visualization
# References: https://scikit-learn.org/stable/auto_examples/svm/plot_iris.html
def make_meshgrid(x, y, h=.02):
    """Create a mesh of points to plot in

    Parameters
    ----------
    x: data to base x-axis meshgrid on
    y: data to base y-axis meshgrid on
    h: stepsize for meshgrid, optional

    Returns
    -------
    xx, yy : ndarray
    """
    x_min, x_max = x.min() - 1, x.max() + 1
    y_min, y_max = y.min() - 1, y.max() + 1
    xx, yy = np.meshgrid(np.arange(x_min, x_max, h),
                         np.arange(y_min, y_max, h))
    return xx, yy

def plot_contours(classifier, xx, yy, add_intercept=False, **params):
    """Plot the decision boundaries for a classifier.
    
    Parameters
    ----------
    ax: matplotlib axes object
    clf: a classifier
    xx: meshgrid ndarray
    yy: meshgrid ndarray
    params: dictionary of params to pass to contourf, optional
    """
    X = np.c_[xx.ravel(), yy.ravel()]
    Z = classifier.predict(X)#, fit_intercept=add_intercept)
    Z = Z.reshape(xx.shape)
    out = plt.contourf(xx, yy, Z, **params)
    return out

def plot_decision_function(classifier, X_train, y_train, title='', add_intercept=False):
    fig = plt.figure(figsize=(8,7))
    X0, X1 = X_train[:, 0], X_train[:, 1]
    xx, yy = make_meshgrid(X0, X1)
    plot_contours(classifier, xx, yy, cmap=plt.cm.GnBu, alpha=0.5, add_intercept=add_intercept)
    plt.scatter(X0, X1, c=y_train, cmap=plt.cm.GnBu, s=20, edgecolors='k')
    plt.xlim(xx.min(), xx.max())
    plt.ylim(yy.min(), yy.max())
    plt.xlabel('$x_1$')
    plt.ylabel('$x_2$')
    plt.title(title)
    plt.show()

# Model

## Logistic Regression with Newton-Raphson

In [46]:
def solveRR(y, X, lam):
    n, p = X.shape
    assert (len(y) == n)
    
    A = X.T.dot(X)
    # Adjust diagonal due to Ridge
    # A[np.diag_indices_from(A)] += lam * n
    A += n * lam * np.eye(p)
    b = X.T.dot(y)
    beta = np.linalg.solve(A, b)
    
    return (beta)


#Weighted Ridge Regression

def solveWRR(y, X, w, lam):
    n, p = X.shape
    assert (len(y) == len(w) == n)

    w_sqrt = np.sqrt(w)   
    y1 = w_sqrt * y
    X1 = X * w_sqrt[:, None] 
    beta = solveRR(y1, X1, lam)

    return (beta)

In [47]:
# Logistic Ridge Regression with Newton-Raphson method
def solveLRR_newton(y, X, lam, max_iter=500, eps=1e-3):
    n, p = X.shape
    assert (len(y) == n)
    
    # Parameters
    max_iter = 500
    eps = 1e-3
    sigmoid = lambda a: 1/(1 + np.exp(-a))
    
    # Initialize
    beta = np.zeros(p)
            
    # Hint: Use IRLS
    for i in range(max_iter):
        beta_old = beta
        f = X.dot(beta_old)
        w = sigmoid(f) * sigmoid(-f)
        z = f + y / sigmoid(y*f)
        beta = solveWRR(z, X, w, 2*lam)
        # Break condition (achieved convergence)
        if np.sum((beta-beta_old)**2) < eps:
            break
    return (beta)

## Kernels

In [48]:
# QP Solver setup

import cvxopt

def cvxopt_qp(P, q, G, h, A, b):
    P = .5 * (P + P.T)
    cvx_matrices = [
        cvxopt.matrix(M) if M is not None else None for M in [P, q, G, h, A, b] 
    ]
    #cvxopt.solvers.options['show_progress'] = False
    solution = cvxopt.solvers.qp(*cvx_matrices, options={'show_progress': False})
    return np.array(solution['x']).flatten()

solve_qp = cvxopt_qp

In [49]:
def rbf_kernel(X1, X2, sigma=10):
    '''
    Returns the kernel matrix K(X1_i, X2_j): size (n1, n2)
    where K is the RBF kernel with parameter sigma
    
    Input:
    ------
    X1: an (n1, p) matrix
    X2: an (n2, p) matrix
    sigma: float
    '''
    # For loop with rbf_kernel_element works but is slow in python
    # Use matrix operations!
    X2_norm = np.sum(X2 ** 2, axis = -1)
    X1_norm = np.sum(X1 ** 2, axis = -1)
    gamma = 1 / (2 * sigma ** 2)
    K = np.exp(- gamma * (X1_norm[:, None] + X2_norm[None, :] - 2 * np.dot(X1, X2.T)))
    return K

def sigma_from_median(X):
    '''
    Returns the median of ||Xi-Xj||
    
    Input
    -----
    X: (n, p) matrix
    '''
    pairwise_diff = X[:, :, None] - X[:, :, None].T
    pairwise_diff *= pairwise_diff
    euclidean_dist = np.sqrt(pairwise_diff.sum(axis=1))
    return np.median(euclidean_dist)

def sigma_from_quantile(X, q):
   
    pairwise_diff = X[:, :, None] - X[:, :, None].T
    pairwise_diff *= pairwise_diff
    euclidean_dist = np.sqrt(pairwise_diff.sum(axis=1))
    return np.quantile(euclidean_dist, q)

In [50]:
def laplace_kernel(X1, X2, gamma=1):
    '''
    Returns the kernel matrix K(X1_i, X2_j): size (n1, n2)
    where K is the laplace kernel with parameter gamma
    
    Input:
    ------
    X1: an (n1, p) matrix
    X2: an (n2, p) matrix
    gamma: float
    '''
    diff = X1[:, None]-X2[None, :]
    # print(f'differenece shape {diff.shape}')
    diff_norm = np.sum(diff ** 2, axis = -1)
    # print(f'differenece norm shape {diff_norm.shape}')
    K = np.exp(- gamma * np.sqrt(diff_norm))
    return K

In [51]:
z1 = rbf_kernel(x_train.to_numpy(),x_train.to_numpy())
z2 = laplace_kernel(x_train.to_numpy(),x_train.to_numpy())
z1.shape, z2.shape

((1000, 1000), (1000, 1000))

In [52]:
def linear_kernel(X1, X2):
    '''
    Returns the kernel matrix K(X1_i, X2_j): size (n1, n2)
    where K is the linear kernel
    
    Input:
    ------
    X1: an (n1, p) matrix
    X2: an (n2, p) matrix
    '''
    return X1@X2.T

def polynomial_kernel(X1, X2, degree=2):
    '''
    Returns the kernel matrix K(X1_i, X2_j): size (n1, n2)
    where K is the polynomial kernel of degree `degree`
    
    Input:
    ------
    X1: an (n1, p) matrix
    X2: an (n2, p) matrix
    '''
    return (X1@X2.T +1)**degree

In [53]:
def add_column_ones(X):
    n = X.shape[0]
    return np.hstack([X, np.ones((n, 1))])

### Base Class

In [54]:
class KernelMethodBase(object):
    '''
    Base class for kernel methods models
    
    Methods
    ----
    fit
    predict
    fit_K
    predict_K
    '''
    kernels_ = {
        'linear': linear_kernel,
        'polynomial': polynomial_kernel,
        'rbf': rbf_kernel,
        'laplace': laplace_kernel,
        # 'mismatch': mismatch_kernel,
    }
    def __init__(self, kernel='linear', **kwargs):
        self.kernel_name = kernel
        self.kernel_function_ = self.kernels_[kernel]
        self.kernel_parameters = self.get_kernel_parameters(**kwargs)
        self.fit_intercept_ = False
        
        
    def get_kernel_parameters(self, **kwargs):
        params = {}
        if self.kernel_name == 'rbf':
            params['sigma'] = kwargs.get('sigma', 1.)
        if self.kernel_name == 'polynomial':
            params['degree'] = kwargs.get('degree', 2)
        if self.kernel_name == 'laplace':
            params['gamma'] = kwargs.get('gamma', 1.)
        return params

    def fit_K(self, K, y, **kwargs):
        pass
    def decision_function_K(self, K):
        pass
    
    def fit(self, X, y, fit_intercept=False, **kwargs):

        if fit_intercept:
            X = add_column_ones(X)
            self.fit_intercept_ = True
        self.X_train = X
        self.y_train = y

        K = self.kernel_function_(self.X_train, self.X_train, **self.kernel_parameters)

        return self.fit_K(K, y, **kwargs)
    
    def decision_function(self, X):

        if self.fit_intercept_:
            X = add_column_ones(X)

        K_x = self.kernel_function_(X, self.X_train, **self.kernel_parameters)

        return self.decision_function_K(K_x)

    def predict(self, X):
        pass
    
    def predict_K(self, K):
        pass

### Base Ridge Kernel Class

In [55]:
class KernelRidgeRegression(KernelMethodBase):
    '''
    Kernel Ridge Regression
    '''
    def __init__(self, lambd=0.1, **kwargs):
        self.lambd = lambd
        # Python 3: replace the following line by
        # super().__init__(**kwargs)
        super(KernelRidgeRegression, self).__init__(**kwargs)

    def fit_K(self, K, y, sample_weights=None):
        n = K.shape[0]
        assert (n == len(y))
        
        w_sqrt = np.ones_like(y) if sample_weights is None else sample_weights
        w_sqrt = np.sqrt(w_sqrt)

        # Rescale kernel matrix K to take weights into account
        A = K * w_sqrt * w_sqrt[:, None]
        # Add lambda to the diagonal of A (= add lambda*I):
        A += n * lambd * np.eye(n)
        # self.alpha = (K + n * lambda I)^-1 y
        self.alpha = w_sqrt * np.linalg.solve(A , y * w_sqrt)

        return self
    
    def decision_function_K(self, K_x):
        return K_x@self.alpha
    
    def predict(self, X):
        return self.decision_function(X)
    
    def predict_K(self, K_x):
        return self.decision_function_K(K_x)

### Logistic Kernel

In [56]:
def sigmoid(x):
    # return 1 / (1 + np.exp(-x))
# tanh version helps avoid overflow problems
    return .5 * (1 + np.tanh(.5 * x))

class KernelLogisticRegression(KernelMethodBase):
    '''
    Kernel Logistic Regression
    '''
    def __init__(self, lambd=0.1, **kwargs):

        self.lambd = lambd
        super().__init__(**kwargs)
        
    
    def fit_K(self, K, y, method='gradient', lr=0.1, max_iter=500, tol=1e-12):
        '''
        Find the dual variables alpha
        '''
        if method == 'gradient':
            self.fit_alpha_gradient_(K, y, lr=lr, max_iter=max_iter, tol=tol)
        elif method == 'newton':
            self.fit_alpha_newton_(K, y, max_iter=max_iter, tol=tol)
            
        return self
        
    def fit_alpha_gradient_(self, K, y, lr=0.01, max_iter=500, tol=1e-6):
        '''
        Finds the alpha of logistic regression by gradient descent
        
        lr: learning rate
        max_iter: Max number of iterations
        tol: Tolerance wrt. optimal solution
        '''
        n = K.shape[0]
        # Initialize
        alpha = np.zeros(n)
        # Iterate until convergence or max iterations
        for n_iter in range(max_iter):
            alpha_old = alpha
            M = y*sigmoid(-y*K@alpha)
            gradient = -(1/n) *K@M +2*self.lambd*K@alpha
            alpha = alpha_old - lr * gradient
            # Break condition (achieved convergence)
            if np.sum((alpha-alpha_old)**2) < tol**2:
                break
        self.n_iter = n_iter
        self.alpha = alpha

    def fit_alpha_newton_(self, K, y, max_iter=500, tol=1e-6):
        '''
        Finds the alpha of logistic regression by the Newton-Raphson method
        and Iterated Least Squares
        '''
        n = K.shape[0]
        # IRLS
        KRR = KernelRidgeRegression(lambd=2*self.lambd)
        # Initialize
        alpha = np.zeros(n)
        # Iterate until convergence or max iterations
        for n_iter in range(max_iter):
            alpha_old = alpha
            m = K.dot(alpha_old)
            w = sigmoid(m) * sigmoid(-m)
            z = m + y / sigmoid(y * m)
            alpha = KRR.fit_K(K, z, sample_weights=w).alpha
            # Break condition (achieved convergence)
            if np.sum((alpha-alpha_old)**2) < tol**2:
                break
        self.n_iter = n_iter
        self.alpha = alpha
        
    def decision_function_K(self, K_x):
        # print('K', K_x.shape, 'alpha', self.alpha.shape)
        return sigmoid(K_x@self.alpha)
        
    def predict(self, X):
        return np.sign(2*self.decision_function(X)-1)

### Kernel SVM

In [57]:
def svm_dual_soft_to_qp_kernel(K, y, C=1):
    n = K.shape[0]
    assert (len(y) == n)
        
    # Dual formulation, soft margin
    P = np.diag(y)@K@np.diag(y)
    # As a regularization, we add epsilon * identity to P
    eps = 1e-12
    P += eps * np.eye(n)
    q = - np.ones(n)
    G = np.vstack([-np.eye(n), np.eye(n)])
    h = np.hstack([np.zeros(n), C * np.ones(n)])
    A = y[np.newaxis, :]
    A=A.astype('float')
    b = np.array([0.])
    return P, q, G, h, A, b

K = linear_kernel(x_train.to_numpy(), x_train.to_numpy())
alphas = solve_qp(*svm_dual_soft_to_qp_kernel(K, y_train.Covid.to_numpy(), C=1.))
print(alphas.shape)

(1000,)

In [58]:
class KernelSVM(KernelMethodBase):
    '''
    Kernel SVM Classification
    
    Methods
    ----
    fit
    predict
    '''
    def __init__(self, C=0.1, **kwargs):
        self.C = C
        super().__init__(**kwargs)
    
    def fit_K(self, K, y, tol=1e-3):
        # Solve dual problem
        self.alpha = solve_qp(*svm_dual_soft_to_qp_kernel(K, y, C=self.C))
        
        # Compute support vectors and bias b
        sv = np.logical_and((self.alpha > tol), (self.C - self.alpha > tol))
        self.bias = y[sv] - K[sv].dot(self.alpha * y)
        self.bias = self.bias.mean()

        self.support_vector_indices = np.nonzero(sv)[0]
        self.beta = self.alpha * y

        return self
        
    def decision_function_K(self, K_x):
        # print('K', K_x.shape, 'alpha', self.alpha.shape, 'bias', self.bias)
        return K_x@(self.alpha * self.beta) +self.bias
        # print(f'K_x shape {K_x}, alpha shape {self.alpha.shape}')
        # return K_x.dot(self.alpha * self.y_train) + self.bias

    def predict(self, X):
        return np.sign(self.decision_function(X))

# Testing

In [59]:
def accuracy(y, y_hat):
  count = 0
  for idx in range(len(y)):
    if y[idx]==y_hat[idx]:
      count +=1
  return count*100/len(y)

## Logistic Regression - Newton

In [138]:
lam = 0.01
beta = solveLRR_newton(y_train.Covid.to_numpy(), x_train.to_numpy(), lam)
probas_pred = sigmoid(x_test.dot(beta))
y_pred = 2 * (probas_pred > 0.5) - 1

In [139]:
# y_pred, y_test.Covid.to_numpy(), y_train.Covid.to_numpy()

In [140]:
accuracy(y_pred.to_numpy(), y_test.Covid.to_numpy())

85.75

## Kernels

In [60]:
s_median = sigma_from_median(x_train.to_numpy())
s_glob_median = sigma_from_median(train_vectors.drop('Id', inplace=False,axis=1).to_numpy())
s_quantile = sigma_from_quantile(x_train.to_numpy(),0.1)
s_median, s_glob_median, s_quantile

(0.47145480695396447, 0.47192770632799247, 0.361119273924835)

In [80]:
kernel = 'linear'
sigma = s_median
lambd = .01
degree = 5
intercept = False

kernel_parameters = {
    'degree': 5,
    'sigma': s_median,
}
lambd = .01

training_parameters = {
    'fit_intercept': False,
    'lr': 0.01,
    'method': 'newton'
}

model = KernelLogisticRegression(lambd=lambd, kernel=kernel, **kernel_parameters)

model.fit(x_train.to_numpy(), y_train.Covid.to_numpy(), **training_parameters)
y_pred = model.predict(x_test.to_numpy())

In [81]:
accuracy(y_pred, y_test.Covid.to_numpy())

87.6

In [94]:
kernel = 'linear'
sigma = s_median #s_glob_median #s_quantile
degree = 1
gamma = 1
C = 1
tol = 1e-3
model = KernelSVM(C=C, kernel=kernel, sigma=sigma, degree=degree, gamma=gamma)
model.fit(x_train.to_numpy(), y_train.Covid.to_numpy(), tol=tol)
y_pred = model.predict(x_test.to_numpy())

In [95]:
accuracy(y_pred, y_test.Covid.to_numpy())

95.2

### New Embeddings

In [265]:
x_train2, x_test2, y_train2, y_test2 = split_data(new_df, train_labels)
y_train2['Covid'] = 2*y_train2['Covid'] - 1 # transform from {0, 1} to {-1, 1}
y_test2['Covid'] = 2*y_test2['Covid'] - 1
kernel = 'linear'
sigma = s_median #s_glob_median #s_quantile
degree = 3
gamma = 1000
C = 1
tol = 1e-3
model = KernelSVM(C=C, kernel=kernel, sigma=sigma, degree=degree, gamma=gamma)
x_train_float = x_train2.astype(float)
model.fit(x_train_float.to_numpy(), y_train2.Covid.to_numpy(), tol=tol)
y_pred2 = model.predict(x_test2.to_numpy())
accuracy(y_pred2, y_test2.Covid.to_numpy())

53.0

In [266]:
kernel = 'linear'
sigma = s_median
lambd = .01
degree = 3
intercept = False

kernel_parameters = {
    'degree': 3,
    'sigma': s_median,
}
lambd = .01

training_parameters = {
    'fit_intercept': False,
    'lr': 0.01,
    'method': 'newton'
}

model = KernelLogisticRegression(lambd=lambd, kernel=kernel, **kernel_parameters)

model.fit(x_train2.to_numpy(), y_train2.Covid.to_numpy(), **training_parameters)
y_pred2 = model.predict(x_test2.to_numpy())
accuracy(y_pred2, y_test2.Covid.to_numpy())

93.75

#### Normalized New Embeddings

In [252]:
x_train3, x_test3, y_train3, y_test3 = split_data(norm_df, train_labels)
y_train3['Covid'] = 2*y_train3['Covid'] - 1 # transform from {0, 1} to {-1, 1}
y_test3['Covid'] = 2*y_test3['Covid'] - 1
kernel = 'rbf'
sigma = s_median #s_glob_median #s_quantile
degree = 3
gamma = 1000
C = 1
tol = 1e-3
model = KernelSVM(C=C, kernel=kernel, sigma=sigma, degree=degree, gamma=gamma)
x_train_float = x_train3.astype(float)
model.fit(x_train_float.to_numpy(), y_train3.Covid.to_numpy(), tol=tol)
y_pred3 = model.predict(x_test3.to_numpy())
accuracy(y_pred3, y_test3.Covid.to_numpy())

86.25

#### Only Counts Embeddings

In [267]:
x_train4, x_test4, y_train4, y_test4 = split_data(count_df, train_labels)
y_train4['Covid'] = 2*y_train4['Covid'] - 1 # transform from {0, 1} to {-1, 1}
y_test4['Covid'] = 2*y_test4['Covid'] - 1

kernel = 'linear'
sigma = s_median
lambd = .01
degree = 3
intercept = False

kernel_parameters = {
    'degree': 3,
    'sigma': s_median,
}
lambd = .01

training_parameters = {
    'fit_intercept': False,
    'lr': 0.01,
    'method': 'newton'
}

model = KernelLogisticRegression(lambd=lambd, kernel=kernel, **kernel_parameters)

model.fit(x_train4.to_numpy(), y_train4.Covid.to_numpy(), **training_parameters)
y_pred4 = model.predict(x_test4.to_numpy())
accuracy(y_pred4, y_test4.Covid.to_numpy())

95.75

# Submission

In [161]:
test_df = pd.read_csv('/content/Xte_vectors.csv')
test_data = test_df.drop('Id', inplace=False, axis=1)

In [ ]:
proba = sigmoid(test_data.dot(beta))
predictions = 2 * (proba > 0.5) - 1
predictions = predictions.to_numpy()
predictions_list = np.where(predictions==-1, 0,1)
predictions_df = pd.DataFrame({'Id': test_df.Id.to_numpy(), 'Covid': predictions_list})

predictions_df.to_csv('submission_00.csv',index = False)

In [162]:
model = KernelSVM(C=C, kernel=kernel, sigma=sigma, degree=degree)
y_pred = model.fit(x_train.to_numpy(), y_train.Covid.to_numpy(), tol=tol).predict(test_data.to_numpy())

In [186]:
model = KernelLogisticRegression(lambd=lambd, kernel=kernel, **kernel_parameters)
model.fit(x_train.to_numpy(), y_train.Covid.to_numpy(), **training_parameters)
y_pred = model.predict(test_data.to_numpy())

In [188]:
predictions_list = np.where(y_pred==-1, 0,1)
predictions_df = pd.DataFrame({'Id': test_df.Id.to_numpy(), 'Covid': predictions_list})
predictions_df.to_csv('submission_06.csv',index = False)

### Different embeddings

In [270]:
df = pd.read_csv('/content/Xte.csv')
df = df.drop('Id', inplace=False, axis=1)
df = df.Sequence.apply(seq_compress)#, axis='columns')
new_df = pd.DataFrame(df.to_list(), columns=range(64))

In [220]:
model = KernelLogisticRegression(lambd=lambd, kernel=kernel, **kernel_parameters)
model.fit(x_train2.to_numpy(), y_train2.Covid.to_numpy(), **training_parameters)
y_pred = model.predict(new_df.to_numpy())

In [222]:
predictions_list = np.where(y_pred==-1, 0,1)
predictions_df = pd.DataFrame({'Id': test_df.Id.to_numpy(), 'Covid': predictions_list})
predictions_df.to_csv('submission_07.csv',index = False)

### Only counts

In [271]:
model = KernelLogisticRegression(lambd=lambd, kernel=kernel, **kernel_parameters)
model.fit(x_train4.to_numpy(), y_train4.Covid.to_numpy(), **training_parameters)
y_pred = model.predict(new_df.to_numpy())
predictions_list = np.where(y_pred==-1, 0,1)
predictions_df = pd.DataFrame({'Id': test_df.Id.to_numpy(), 'Covid': predictions_list})
predictions_df.to_csv('submission_08.csv',index = False)